<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>菜品列表</title>
		<!-- easyui框架css -->
		<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.7.0/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.7.0/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.7.0/demo/demo.css">
		<!-- 自定义css -->
		<link rel="stylesheet" type="text/css" href="../../css/common/menu.css">
		<!-- easyui框架js -->
		<script type="text/javascript" src="../../jquery-easyui-1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="../../jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
		<!-- 自定义js -->
		<script type="text/javascript" src="../../js/common/menu.js"></script>
	</head>
	<body class="easyui-layout">
	    <div data-options="region:'north',title:'欢迎来到网上订餐后台管理',split:true" style="height:100px;"></div>   
	    <div data-options="region:'west',title:'系统操作',split:true" style="width:200px;">
	    	<!-- 此处显示的是系统菜单 -->
	    	<div id="menu" class="easyui-accordion" data-options="fit:true">   
    			<div title="基本操作" data-options="iconCls:'icon-save'">   
        			<ul>
						<li><a href="#" title="trades.html">菜品管理</a>
						<li><a href="#" title="room.html">包间管理</a>
						<li><a href="#">订单管理</a>
						<li><a href="#">留言管理</a>
					</ul>
    			</div>   
    			<div title="其他操作" data-options="iconCls:'icon-reload'">
    				<ul>
						<li><a href="#" title="system.html">用户管理</a>
						<li><a href="../../systemLogout.action">退出</a>
					</ul>
    			</div>   
			</div>   
	    </div>   
	    <div data-options="region:'center',title:'后台操作页面'" style="padding:1px;background:#eee;">
	    	<div id="tt" class="easyui-tabs" data-options="fit:true">   
    			<div title="系统缺省页面" style="padding:10px;">
    				此处以后显示相应的系统信息（当前操作系统的类型，当前项目的域名，硬件的相关配置或者显示报表
    			</div>   
    		</div>      		    	
	    </div>   
	</body> 
</html>