<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="jquery,ui,easy,easyui,web">
	<meta name="description" content="easyui help you build your web page easily!">
	<title>包间列表</title>
	<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.7.0/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.7.0/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.7.0/demo/demo.css">
	<link rel="stylesheet" type="text/css" href="../../css/common/form.css">
	<script type="text/javascript" src="../../jquery-easyui-1.7.0/jquery.min.js"></script>
	<script type="text/javascript" src="../../jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../js/system/room.js"></script>
</head>
<body>
	<h2>包间管理</h2>
	<table id="dg" title="包间信息" class="easyui-datagrid" style="width:1200px;height:500px"
			url='../../room/queryRoom.action'
			toolbar="#toolbar" pagination="true"
			rownumbers="true" fitColumns="true" singleSelect="true"
			pageSize="5" pageList="[5,10,15]"
			>
		<thead>
			<tr>
				<th field="ck" checkbox="true"></th>
				<th field="id" width="30">编号</th>
				<th field="roomCode" width="30">包间号码</th>
				<th field="roomType" width="30" formatter="roomTypeFormatter">包间类型</th>
				<th field="roomState" width="30" formatter="roomStateFormatter">包间状态</th>			
			</tr>
		</thead>
	</table>
	<div id="toolbar" style="padding:3px">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newRoomDlg()">添加</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editRoomDlg()">编辑</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeRoom()">移除</a>
	</div>
	
	<div id="newDlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px;left:200px;top:200px;"
			closed="true" buttons="#newDlg-buttons">
		<div class="ftitle">包间信息</div>
		<form class="fm" id="savefm" method="post" novalidate>
			<div class="fitem">
				<label>包间号码:</label>
				<input name="roomCode" class="easyui-validatebox" data-options="required:true,validType:'intvalid'">
			</div>
			<div class="fitem">
				<label>包间类型:</label>
				<input type="radio" name="roomType" value="3" style="height: 10px;width: 10px"><span style="font-size: 12px">大包</span>
                <input type="radio" name="roomType" value="2" style="height: 10px;width: 10px"><span style="font-size: 12px">中包</span>
                <input type="radio" name="roomType" value="1" style="height: 10px;width: 10px"><span style="font-size: 12px">小包</span>
			</div>
			<div class="fitem">
				<label>包间状态:</label>
				<input type="radio" name="roomState" value="1" style="height: 10px;width: 10px"><span style="font-size: 12px">繁忙</span>
                <input type="radio" name="roomState" value="0" style="height: 10px;width: 10px"><span style="font-size: 12px">空闲</span>
			</div>
		</form>
	</div>
	<div id="newDlg-buttons">
		<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveRoom()">保存</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#newDlg').dialog('close')">取消</a>
	</div>
	
	<div id="editDlg" class="easyui-dialog" style="width:600px;height:400px;padding:10px 60px;left:200px;top:100px;"
			closed="true" buttons="#editDlg-buttons">
		<div class="ftitle">包间信息</div>
		<form class="fm" id="editfm" method="post" novalidate>
			<input name="id" hidden="hidden" class="easyui-validatebox" data-options="required:true">
			<div class="fitem">
				<label>包间号码:</label>
				<input name="roomCode" class="easyui-validatebox" data-options="required:true,validType:'intvalid'">
			</div>
			<div class="fitem">
				<label>包间类型:</label>
				<input type="radio" name="roomType" value="3" style="height: 10px;width: 10px"><span style="font-size: 12px">大包</span>
                <input type="radio" name="roomType" value="2" style="height: 10px;width: 10px"><span style="font-size: 12px">中包</span>
                <input type="radio" name="roomType" value="1" style="height: 10px;width: 10px"><span style="font-size: 12px">小包</span>
			</div>
			<div class="fitem">
				<label>包间状态:</label>
				<input type="radio" name="roomState" value="1" style="height: 10px;width: 10px"><span style="font-size: 12px">繁忙</span>
                <input type="radio" name="roomState" value="0" style="height: 10px;width: 10px"><span style="font-size: 12px">空闲</span>
			</div>
		</form>
	</div>
	<div id="editDlg-buttons">
		<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="editRoom()">保存</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#editDlg').dialog('close')">取消</a>
	</div>
</body>
</html>
