body{
	background:url(../../files/syslogin.jpg); 
}
.content{
	width:360px;
	height: 300px;
	background:#fff;
	margin-left: 30%;
	margin-top:100px;
	border:1px solid #c0c0c0;
	
}
.title{
	font-size:14px;
	font-weight:bold;
	color:#666;
	padding:5px 10px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
}
.login_btn{
	margin-left: 120px;
	font-size: 10px;
}
.tip{
	
	margin-top: 30px;
	margin-left: 200px;
	font-size: 10px;
}