
.content{
	width:auto;
	height:auto;
	background:#fff;
	margin-top:30px;
	
}
.trade{
	width:1000px;
	height:100px;
	background:#eaf9f7;
	margin: 10px;
	border-bottom:1px solid #c0c0c0;
}
.tradepic{
	float:left;
	width:120px;
	height:100px;	
}
.tradepic img{
	width:120px;
	height:100px;
}
.tradetext{
	font-size:14px;
	float:left;
	height:100px;
	margin-left:10px;
	width:120px;
	height:100px;	
}
.tradetext p{
	margin: 0;
	padding: 0;
}
.tradeop{
	height:100px;
	width: 120px;
	float:right;
	line-height:100px;
}
.tradeop input{
	margin-top:35px;
	font-size:10px;
	height:30px;
	width: 70px;
	background: none;
	border: none;
}